<?xml version="1.0"?>
<launch>

 <!-- <param name="lego_description" command="$(find xacro)/xacro $(find ur_e_description)/urdf/environment/box_blue.xacro" />
 

  <node name="spawn_lego1" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf 
          -param lego_description 
          -y 0.2
          -z 0.970 
          -model LegoBlue" 
    respawn="false" output="screen" /> -->
    
    
      <!-- send table urdf to param server -->
  <param name="lego2_description" command="$(find xacro)/xacro $(find ur_e_description)/urdf/environment/box_green.xacro" />
   <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_lego2" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf 
          -param lego2_description 
          -x 0.3
          -y 0.6
          -z 0.99 
          -model LegoGreen" 
    respawn="false" output="screen" /> 

</launch>
